#app * {
  box-sizing: border-box;
  font-family: Arial !important;
  -webkit-font-smoothing: initial;
}

html, body {
  margin: 0;
  height: 100%;
  background: #c0c0c0;
  font-size: var(--theme-font-size);
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app .title-bar,
#app .window,
#app button,
#app input,
#app label,
#app legend,
#app li[role=tab],
#app option,
#app select,
#app table,
#app textarea,
#app ul.tree-view {
  font-size: 1rem;
}

input {
  height: auto !important;
  padding: 0.25em 0.5em !important;
}

.mt-0 {
  margin-top: 0;
}

.mt-3 {
  margin-top: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}

#app button {
  user-select: none;
}

#app .title-bar {
  user-select: none;
}

#app .check-row {
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

/* Tabs */
#app menu {
  padding-top: 0.25em;
}

#app menu a {
  user-select: none;
  cursor: pointer;
  padding: 0 0.5em;
}

[data-vue-tab] {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[data-vue-tab] > .window {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[data-vue-tab] > .window > .window-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

/* Tables */
.app-table {
  width: 100%;
  user-select: none;
}

.app-table thead {
  user-select: none;
}

.app-table tr {
  cursor: pointer;
}

.app-table th:hover {
  background: #dfdfdf;
}

#app select {
  font-size: 16px;
}

#app table>tbody>tr.highlighted {
  background-color: #d9d9d9 !important;
  color: initial !important;
}

#app code {
  font-family: monospace !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 2px;
  border-radius: 3px;
}

#app u {
  text-decoration: underline !important;
}

#app menu[role=tablist] {
  overflow-x: auto;
  scrollbar-width: none;
}

/* hide horizontal scrollbar on tablist */
#app menu[role=tablist]::-webkit-scrollbar {
  display: none !important;
}

label[data-tippy-content], button[data-tippy-content] {
  text-decoration: underline dotted;
  text-decoration-thickness: 2px;
}