:root {
  --theme-location: #8b008b;

  --theme-item-normal: #5d920c;
  --theme-item-useful: #0000ff;
  --theme-item-progression: #ef23ef;
  --theme-item-trap: #ff0000;

  --theme-player-you: #000000;
  --theme-player-other: #000000;

  --theme-text-help: #008080;
  --theme-text-join: #006400;

  --theme-font-size: 16px;
}

menu[role=tablist]>li>a {
  cursor: default;
}