:root {
  --theme-location: #8b008b;

  --theme-item-normal: #5d920c;
  --theme-item-useful: #0000ff;
  --theme-item-progression: #ef23ef;
  --theme-item-trap: #ff0000;

  --theme-player-you: #000000;
  --theme-player-other: #000000;

  --theme-text-help: #008080;
  --theme-text-join: #006400;

  --theme-status-priority: #7f65cb;
  --theme-status-none: #000000;
  --theme-status-found: #008543;
  --theme-status-avoid: #e5786c;
  --theme-status-no-priority: #00adad;

  --theme-font-size: 16px;
}

menu[role=tablist]>li>a {
  cursor: default;
}